@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100&display=swap');
:root{
    --black: #151515;
    --gris: #303030;
    --grisclarito: #7b7b7b;
    --text-botones: #93733b;
    --boton-fondo: #eee5d5;
    --fondo: #ffff;
    --fondofooter: #3f3f3f;
}
*{
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

body{   
    overflow-x: hidden;
}

/* barra de navegacion negrita de arriba */

.superior{
    display: flex;
    justify-content: flex-end;
    background-color: var(--gris);
    padding: 0 10pc;
    color: white;
    font-weight: 20px;
}

.idiomas{
    height: 100%;
}

.botones-hero{
    padding: 5px;
    margin-right: 6px;
}

.botones-hero:hover{
    background-color: #151515;
}

.ENTRADAS{
    background-color: #e7d800;
    color: var(--black);
}

.ENTRADAS:hover{
    background-color: #d4b413 ;
}

.IDM{ 
    background-color: var(--gris);
    color: white;
}

.museologo{
    width: 120px;
    height: 60px;
}

/* Barra de navegacion blanca de abajo */



.navblanco{
    display: flex;
    align-items: center;
    padding: 20px 10pc;
}

#navblanco{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.container-lista{
    display: flex;
    align-items: center;
}

.listas{
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-right: 20px;
}

.lista{
    display: flex;
    gap: 20px;
    align-items: center;
}

.uno{
    color: #999999;
    font-size: small;
}

.dos{
    font-size: large;
    font-weight: bold;
}

.li_hover:hover{
    color: #9a7f4a;
}

.amigo{
    width: 80px;
}
/* carrucel */

.carrucel{
    background-color: #efefef;
}
 
.carrucel-contaier{
    display: flex;
    align-items: center;
    overflow-x: auto;    
}
.carrucel-contaier::-webkit-scrollbar {
    display: none;
}

/* cartas de carrucel */

.carta-carrucel{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75%;
    color: var(--black);
    background-color: var(--fondo);
    margin: 40px;
}

.info{
    padding: 20px;
    width: 600px;
}

.boton{
    background-color: var(--boton-fondo);
    color: var(--text-botones);
    font-size: medium;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
}


.name{
    font-size: 40px;
    font-weight: bold;
}

.espacio{
    font-size: 24px;
    font-weight: 700;
    font-family: 'M PLUS 1p', sans-serif;
}

.inf{
    margin: 10px;
    width: 154px;
}

.fecha{
    font-family: 'M PLUS 1p', sans-serif;
    width: 300px;
}

.cuatro{
    width: 800px;
    height: 375px;
}

.cartas{
    display: flex;
    justify-content: center;
}

/* Cartas pequeñas */


.cart-1{
    margin-right: 20px;
}

.cart-2{
    border-left: 2px solid var(--grisclarito);
    padding-left: 20px;
    padding-right: 20px;
}

.cart-3{
    border-left: 2px solid var(--grisclarito);
    padding-left: 20px;
}

.nombre{
    font-weight: bold;
    font-size: 20px;
    padding: 10px 0 10px 0;
}

.boton-negro{
    background-color: #303030;
    width: 200px;
    height: 20px;
    color: var(--fondo);
    margin-top: 20px;
    padding: 5px;
    border-radius: 5px; 
}

.boton-negro-visitas{
    background-color: #303030;
    width: 260px;
    height: 20px;
    color: var(--fondo);
    padding: 5px;
    border-radius: 5px; 
}

/* Colecció */

.Colección{
    background : url('https://www.museoreinasofia.es/sites/default/files/ouka_leele_banner_0.jpg'), linear-gradient(rgba(0,0,0,0.7), #fff);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--fondo);
    height: 200px;
    box-shadow: #151515 0px 3px 3px;
}

#coleccion{
    padding: 20px 160px 20px 160px;
    font-size: 35px;
    font-weight: bold;
}

.sec{
    padding: 40px 10pc;
}

/* Actividad */

.img-act{
    width: 270px;
}

.carticas{
    padding: 20px;
}

.big{
    background-color: var(--boton-fondo);
    color: var(--text-botones);
    font-size: medium;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 217px;
    height: 30px;
}

/* Publicidad vista hoy en el museo */

.publecidad{
    background-color: var(--boton-fondo);
    padding: 20px;
    margin-top: -30px;
    margin-left: 25px;
    height: 20pc;
}

h2{
    font-size: 30px;
    padding: 10px;
}

h3{
    font-size: 40px;
    font-weight: bold;
}

h4{
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 25px;
}

.text-publicidad{
    margin: 15px 0;
}

.boton-publicidad{
    background-color: #333131;
    color: var(--fondo);
    height: 30px;
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

/* Visitas comentadas */

.boton-grande{
    background-color: var(--boton-fondo);
    color: var(--text-botones);
    font-size: medium;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 30px;
}

/* Multimedias */

video{
    width: 380px;
}

/* Audios */

.container-audios{
    display: flex;
    justify-content: space-around;
}

.radio{
    width: 50px;
}

/* Publicidades */

.publicidades{
    display: flex;
    justify-content: space-around;
}

/* Cartas finales */

.cartas-finales{
    display: flex;
    margin: 50px 0;
}

.info-end{
    padding: 20px;
}

.info-final{
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 25px;
}

.final1{
    background-color: #e1cb91;
}

.final2{
    background-color: #52cad2;
}

.carta-final{
    width: 1000px;
    height: 258px;
}

.end{
    width: 1457px;
}

.name-end{
    font-weight: bold;
    font-size: 30px;
}

.text-final{
    padding: 20px 0;
}

.boton-final{
    padding: 10px 0;
    background-color: var(--gris);
    color: var(--fondo);
    width: 200px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

.boton-end{
    padding: 5px 0;
    background-color: var(--gris);
    color: var(--fondo);
    width: 200px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

/* Parte de arriba del footer */

.botton{
    background-color: var(--fondofooter);
}

.spam{
    display: flex;
    justify-content: space-around;
    color: var(--grisclarito);
    border-bottom: 2px solid var(--black);
}

.padding{
    padding: 29px 159px;
}

.cart-spam{
    width: 200px;
}

.img-spam1{
    width: 80px;
}

.img-spam2{
    width: 140px;
}

.img-spam3{
    width: 160px;
}

.img-spam4{
    width: 150px;
}

.img-spam5{
    width: 170px;
}

.img-spam6{
    width: 170px;
}

.info-spam{
    font-size: 10px;
    font-weight: lighter;
}

/* Footer de arrivba - abajo */

#name{
    color: var(--fondo);
    font-size: 20px;
    margin:  20px 0;
}

#item{
    color: #d4d4d4;
    padding: 5px 0;
}

#item:hover{
    text-decoration: underline;
}

.botones-footer{
    background-color: #1e1e1e;
    padding: 5px;
    margin: 9px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: var(--fondo);
}

.botones-footer:hover{
    color: #151515;
    background-color: var(--fondo);
}

.boton-footer-blanco{
    background-color: var(--fondo);
    padding: 5px;
    margin: 9px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: var(--black);
}

.boton-footer-blanco:hover{
    color: var(--fondo);
    background-color: var(--black);
}

.lista2{
    margin-top: 60px;
}

/* Footer bajo */

footer{
    background-color: #2a2828;
}

.arriba{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--grisclarito);
}

.ARRIBA{
    display: flex;
}

.redes{
    width: 40px;
    padding: 0 10px;
}

/* Footer medio */

.medio{
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.PLAN{
    padding: 15px;
    color: #d3d3d3;
}

.cositos{
    padding: 0 10px;
    width: 140px;
}

.blanco{
    width: 90px;
}

.xd{
    width: 30px;
}

.PLAN:hover{
    text-decoration: underline;
}

/* Footer bajo */

.fondo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.one{
    width: 70px;
}

.info-end{
    color: var(--fondo);
}

#info-end:hover{
    text-decoration: underline;
}

.texto{
    color: var(--fondo);
    display: flex;
}